<div class="footer bg-gray-700">
    <div class="py-6 flex-wrap container mx-auto px-4 flex flex-row items-center justify-between">
        <a href="" class="px-4 cursor-pointer hover:shadow-md py-2 bg-white rounded-full font-bold">
            <p class="font-bold ">A propos <span class="hidden md:inline-block">de la boutique</span></p>
        </a>
        <div class="flex flex-row items-center text-lg">
            <a href="" class="h-10 w-10 mx-1 rounded-full bg-white flex items-center justify-center">
                <sl-icon name="whatsapp"></sl-icon>
            </a>
            <a href="" class="h-10 w-10 mx-1 rounded-full bg-white flex items-center justify-center">
                <sl-icon name="instagram"></sl-icon>
            </a>
        </div>
    </div>
</div>
