<footer class="bg-gray-800 text-gray-300 px-6 lg:px-8 py-12">
    <div class="container mx-auto grid md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-x-8">
        <div>
            <h5 class="text-xl font-semibold text-white">Boutique</h5>
            <nav class="mt-4">
                <ul class="space-y-2">
                    <li>
                        <a href="/about" class="font-normal text-base hover:text-gray-100">À Propos</a>
                    </li>
                    <li>
                        <a href="/products" class="font-normal text-base hover:text-gray-100">Catalogue</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div>
            <h5 class="text-xl font-semibold text-white">Juridique</h5>
            <nav class="mt-4">
                <ul class="space-y-2">
                    <li>
                        <a href="/legal/return-policy/" class="font-normal text-base hover:text-gray-100">Politique de retours</a>
                    </li>
                    <li>
                        <a href="/legal/privacy-policy/" class="font-normal text-base hover:text-gray-100">Politique de confidentialité</a>
                    </li>
                    <li>
                        <a href="/legal/terms/" class="font-normal text-base hover:text-gray-100">Conditions générales de vente</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div>
            <h5 class="text-xl font-semibold text-white">Suivez-nous</h5>
            <nav class="mt-4">
                <ul class="space-y-2">
                    <li>
                        <a href="{{ shop.design.facebook_link }}" class="font-normal flex items-center text-base hover:text-gray-100"><sl-icon class="mr-3 text-xl" name="facebook"></sl-icon> Facebook</a>
                    </li>
                    <li>
                        <a href="{{ shop.design.instagram_link }}" class="font-normal flex items-center text-base hover:text-gray-100"><sl-icon class="mr-3 text-xl" name="instagram"></sl-icon> Instagram</a>
                    </li>
                    {% if shop.design.whatsapp_link %}
                        <li>
                            <a href="{{ shop.design.whatsapp_link }}" class="font-normal flex items-center text-base hover:text-gray-100"><sl-icon class="mr-3 text-xl" name="whatsapp"></sl-icon> WhatsApp</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <div class="max-w-screen-xl mx-auto flex flex-col md:flex-row justify-between items-center space-y-4 mt-8 lg:mt-12 border-t-2 border-gray-700 pt-8">
        <nav class="flex flex-wrap justify-center space-x-6">
            <a href="https://kweek.shop?utm_source=onlinestore" class="font-normal flex items-center text-sm hover:text-gray-100 mb-2">
                <svg class="mr-2" width="24" height="24" viewBox="0 0 1024 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M512 0C229.23 0 0 229.23 0 512C0 794.77 229.23 1024 512 1024C794.77 1024 1024 794.77 1024 512C1024 229.23 794.77 0 512 0ZM240.114 473.458C240.114 473.458 229.778 452.098 240.114 439.006C250.449 425.914 273.187 439.006 273.187 439.006L404.103 521.001L484.719 339.786C484.719 339.786 492.988 322.56 512.969 322.56C532.951 322.56 540.531 339.786 540.531 339.786L619.08 521.001L748.618 439.006C748.618 439.006 773.422 426.604 784.447 439.006C795.472 451.409 784.447 473.458 784.447 473.458L712.788 660.874C712.788 660.874 707.867 675.368 702.453 682.923C696.552 691.156 691.428 695.325 682.471 699.459C673.513 703.594 355.182 703.594 345.535 699.459C336.87 695.746 333.35 691.496 328.102 685.159C327.508 684.441 326.891 683.696 326.242 682.923C319.82 675.265 313.252 660.874 313.252 660.874L240.114 473.458Z" fill="white"/>
</svg>

                Powered by Kweek</a>
        </nav>
        <p class="text-sm text-center md:text-right">&copy;{%  now 'Y' %} {{ shop.name }}. All rights reserved.</p>
    </div>
</footer>
{#<div class="footer bg-gray-700">#}
{#    <div class="py-6 flex-wrap container mx-auto px-4 flex flex-row items-center justify-between">#}
{#        <a target="_blank" href="https://kweek.shop/" class="px-4 cursor-pointer hover:shadow-md py-2 bg-white rounded-full font-bold">#}
{#            <p class="font-bold ">Powered by Kweek</p>#}
{#        </a>#}
{#        <div class="flex flex-row items-center text-lg">#}
{#            {% if shop.design.facebook_link %}#}
{#                <a target="_blank" href="{{ shop.design.facebook_link }}"#}
{#                   class="h-10 w-10 mx-1 rounded-full bg-white flex items-center justify-center">#}
{#                    <sl-icon name="facebook"></sl-icon>#}
{#                </a>#}
{#            {% endif %}#}
{#            {% if shop.design.instagram_link %}#}
{#                <a target="_blank" href="{{ shop.design.instagram_link }}"#}
{#                   class="h-10 w-10 mx-1 rounded-full bg-white flex items-center justify-center">#}
{#                    <sl-icon name="instagram"></sl-icon>#}
{#                </a>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}
