{% load static %}
<div class="fixed bg-white top-0 border-b z-50 left-0 w-full px-4 lg:px-8 py-3 flex flex-row justify-between items-center">
    <div class="flex items-center">
        <a href="/"><img class="h-10 w-10 rounded-full border mr-2" src="{{shop.avatar_url}}"></a>
        <a href="/" class="text-lg text-black lg:hidden">{{ shop.name }}</a>
    </div>
    <div class="md:flex hidden items-center justify-around">
        <a href="/" class="text-black hover:underline font-semibold uppercase mx-4">Acceuil</a>
        <a href="/products/" class="text-black hover:underline font-semibold uppercase mx-4">Catalogue</a>
        <a href="/about/" class="text-black font-semibold uppercase hover:underline mx-4">À propos</a>
    </div>
    <kweek-cart-icon-btn />
</div>
<kweek-cart-pane></kweek-cart-pane>

