{% load static %}
<div class="fixed bg-white top-0 border-b z-50 left-0 w-full lg:px-8 py-3 flex flex-row justify-between items-center">
    <button @click="showMobileNavLinks = true" class="lg:hidden outline-none appearance-none px-4 py-2">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M2 12C2 11.4477 2.44772 11 3 11H21C21.5523 11 22 11.4477 22 12C22 12.5523 21.5523 13 21 13H3C2.44772 13 2 12.5523 2 12Z"
                  fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M2 6C2 5.44772 2.44772 5 3 5H21C21.5523 5 22 5.44772 22 6C22 6.55228 21.5523 7 21 7H3C2.44772 7 2 6.55228 2 6Z"
                  fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M2 18C2 17.4477 2.44772 17 3 17H21C21.5523 17 22 17.4477 22 18C22 18.5523 21.5523 19 21 19H3C2.44772 19 2 18.5523 2 18Z"
                  fill="black"/>
        </svg>

    </button>
    <div class="flex items-center">
        <a href="/"><img class="w-8 h-8 lg:h-10 lg:w-10 rounded-full border mr-2" src="{{ shop.avatar_url }}"></a>
        <a href="/" class="text-lg text-black lg:hidden">{{ shop.name }}</a>
    </div>
    <nav class="md:flex hidden items-center justify-around">
        <a href="/" class="text-black hover:underline font-semibold uppercase mx-4">Acceuil</a>
        <a href="/products/" class="text-black hover:underline font-semibold uppercase mx-4">Catalogue</a>
        <a href="/about/" class="text-black font-semibold uppercase hover:underline mx-4">À propos</a>
    </nav>
    <div class="pr-4 lg:pr-0">
        <kweek-cart-icon-btn color="{{ shop.design.color }}"/>
    </div>
</div>
<nav
        v-if="showMobileNavLinks"
        :class="{'fade-in': showMobileNavLinks, 'hidden': !showMobileNavLinks}"
        :style="{'display': showMobileNavLinks ? 'flex': 'none'}"
        class="hidden z-50 fixed top-0 left-0 bg-white h-screen w-screen overflow-hidden flex flex-col items-center justify-center">
    <button @click="showMobileNavLinks = false" class="absolute appearance-none top-0 right-0 p-4">
        <sl-icon class="text-3xl" name="x"></sl-icon>
    </button>
    <div class="flex flex-col items-center">
        <a href="/" class="text-black text-xl hover:underline font-semibold uppercase m-4">Acceuil</a>
        <a href="/products/" class="text-black text-xl hover:underline font-semibold uppercase m-4">Catalogue</a>
        <a href="/about/" class="text-black text-xl font-semibold uppercase hover:underline m-4">À propos</a>
    </div>
</nav>
<kweek-cart-pane color="{{ shop.design.color }}"></kweek-cart-pane>

