[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
boto3 = "*"
requests = "*"
gunicorn = "*"
firebase-admin = "*"
graphqlclient = "*"

[requires]
python_version = "3.6"
