FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
JWT_SECRET_KEY= # use os.urandom(24) as shown here https://stackoverflow.com/a/34903502
SECRET_KEY= # use os.urandom(24) as shown here https://stackoverflow.com/a/34903502
UPLOAD_FOLDER="uploads"
DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_BUCKET=
DO_SPACES_REGION=
DO_SPACES_ENDPOINT_URL=
APP_ENV="dev"
APP_NAME="api-server"
GQL_ENGINE_SECRET=
SLACK_TOKEN=
REDIS_URL=

FEDAPAY_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=


STRIPE_SECRET_KEY=

KKIAPAY_PUBLIC_KEY=
KKIAPAY_PRIVATE_KEY=
KKIAPAY_SECRET_KEY=

RAVE_SECRET_KEY=
RAVE_PUBLIC_KEY=

OPEN_EXCHANGE_RATES_APP_ID=
postgres://nelson:@localhost:5432/kash_api
time curl --location --request GET 'http://127.0.0.1:5000/notifications/' --header 'Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjQ0NzA1MDk0LCJqdGkiOiJiMjFmOGIxNDVlMmY0MmMwODFmNmMzZjVkYzMzOTQ0ZCIsInVzZXJfaWQiOjk0fQ.JKWgZ60G2TaSLxmPh4q5opIHwm1XrpLpK0eV8Iy5Qto