{% extends "food/base.html" %}
{% load static %}
{% block content %}
    {% include 'food/partials/header.html' %}
    <div class="w-screen" style="min-height: 60vh;">
        <div class="container mx-auto mt-4 lg:mt-12" style="padding-top: 104px;">
            <p class="text-center px-4 text-3xl font-bold text-black">À Propos</p>
            <div class="my-6 lg:my-10 mx-4">
                <p class="max-w-3xl mx-auto whitespace-pre-line text-gray-800">
                    {{ shop.description }}
                </p>
            </div>
        </div>
    </div>
    {% include 'food/partials/footer.html' %}
{% endblock %}
