{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#C4C4C4"/>
    <title>{{ shop.name }}</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.26/dist/shoelace/shoelace.css">
    <script type="module"
            src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.26/dist/shoelace/shoelace.esm.js"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="{% static "javascript/kweek-components/dist/kweek.js" %}"></script>
    <link rel="stylesheet" href="{% static "javascript/kweek-components/dist/kweek.css" %}">
    <style>
        .header-icon sl-icon-button::part(base) {
            color: white;
        }
    </style>
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}

</div>

</body>

<script src="{% static "javascript/index.js" %}"></script>
</html>
