{% extends 'storefront/base.html' %}
{% block seo %}
    <title>{{ product.name }} | {{ shop.name }}</title>
    <meta name="title" content="{{product.name}}">
    <meta name="description" content="Visitez notre boutique pour découvrir nos meilleurs articles et produits.">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{product.name}}">
    <meta property="og:description" content="Visitez notre boutique pour découvrir nos meilleurs articles et produits.">
    <meta property="og:image" content="{{product.images.first.url}}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="{{product.name}}">
    <meta property="twitter:description" content="Visitez notre boutique pour découvrir nos meilleurs articles et produits.">
    <meta property="twitter:image" content="{{product.images.first.url}}">
{% endblock %}
{% block content %}
    <div id="product-page" class="min-w-screen min-h-screen">
        {% include 'storefront/partials/header.html' %}
        <div class="container mx-auto px-4" style="padding-top: 94px; padding-bottom: 64px">
            <div class="flex flex-row items-start flex-wrap">
                <div class="w-full lg:w-1/2 lg:px-4">
                    <div class="w-full border rounded-lg" >
                        <img class="rounded-lg shadow object-fit mx-auto object-contain" :src="activeProductImage || '{{ product.images.first.url }}'">
                    </div>
                    <div class="max-w-full py-1 overflow-scroll flex items-center my-3">
                        {% for image in product.images.all %}
                            <img :class="{'border-2': activeProductImage === '{{ image.url }}'}" @click="activeProductImage = '{{ image.url }}'" src="{{ image.url }}" class="h-20 w-20 mr-4 rounded-lg shadow border-black object-cover">
                        {% endfor %}
                    </div>
                </div>
                <div class="w-full lg:w-1/2 lg:px-6 pt-4 lg:pt-0">
                    <div class="flex flex-row items-center justify-between flex-wrap">
                        <p class="text-xl font-bold">{{ product.name }}</p>
                        <div class="rounded-full flex px-6 py-2 my-4 bg-gray-200 font-bold">
                            <p class="font-bold">{{ product.price }} {{ product.currency_iso }}</p>
                        </div>
                    </div>
                    <div class="border-t h-1 w-full mb-4 mt-2"></div>
                    <p class="text-lg font-semibold">Description</p>
                    <div class="whitespace-pre-line mt-2 text-gray-600">{% if product.description %}{{ product.description }}{% else %}Aucune description{% endif %}</div>
<div class="border-t h-1 w-full mt-6 my-4"></div>
                    <kweek-cart-btn product-id="{{ product.id }}"></kweek-cart-btn>
                </div>
            </div>
        </div>
        {% include 'storefront/partials/footer.html' %}
    </div>
{% endblock %}
